/* Write your CSS here */
.todo-items {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn {
  background-color: transparent;
  border: 2px solid #ff0b37;
  border-radius: 6px;
  color: #ff0b37;
  height: 40px;
  width: 70px;
  align-self: flex-end;
  outline: none;
  cursor: pointer;
}
.title {
  font-size: 16px;
  color: #000000;
  font-family: 'Roboto';
}
